* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #f2f2f2;
}
body {
  margin: 0;
  color:  #403A36;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  padding-top: 50px;
  font-family: 'Poppins', sans-serif;
  color: #2b2899;
  text-align: center;
  font-size: 100px;
}

h2 {
  font-family: 'Poppins', sans-serif;
}

li {
  margin-bottom: 10px;
}

ul {
  padding-left: 40px;
}

.logo-img {
  height: 180px;
  width: 180px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  font-family: 'Poppins', sans-serif;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  color: #1D1B59;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #2b2899;
  margin: 5px;
}

@media screen and (max-width:1200px) {
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }

}

@media screen and (max-width:1000px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


/* THIS PART CONTROLS THE LINE ANIMATION IN NAV BAR */
.hover {
  display: inline-block;
  position: relative;
}

.hover::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2b2899;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.textLeft {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
}


/* image below about header */

.imgAbout {
  height: 400px;
  width: auto;
}

.imageBlock {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Paragraphs {
  padding-right: 30%;
  padding-left: 30%;
}

/* this is for the gold stars in the goals section */

.goals {
  width: 100%;
  height: 300px;
  margin-bottom: 100px;
  padding: 0;
  margin: 0;
}


.starGoal {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.goal1 {
  width: 20%;
  left: 10%;
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.goal2 {
  width: 20%;
  position: absolute;
  left: 40%;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 10%;
}

.goal3 {
  width: 20%;
  position: absolute;
  left: 70%;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 100px;
}


/* this is for the text section of the goals */


/* FOOTER */

.footer {
  background-color: #302C42;
  height: 310px;
  position: relative;
  color: white;
}

.footer .footer-bottom {
  background-color: #37334c;
  color:#b2b8cc;
  height: 40px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  top: 310px;
  left: 0px;
  padding-top: 10px;
  width: 100%;
}

.footer .footer-content {
  height: 350px;
  display: flex;
}

.footer .footer-content .footer-section {
  flex: 1;
  padding: 10px;
  padding-top: 25px;
}

/*general infor footer section*/

.footerimage {
  height:100px;
  width: 100px;
}

.mail-icon {
  height: 15px;
  width: 20px;
}

.phone-icon {
  height: 20px;
  width: 20px;
}

.socialImg {
  height: 40px;
  width: 40px;
}
/* Quick Links */

.FootLink {
  text-decoration: none;
  color: #f2f2f2;
}

/*This is the contact page portion of the header */

.txtb {
  margin: 0;
  padding-top: 10px;
  padding-right: 20px;
}

.txtb label {
  display: block;
  text-align: left;
  color: #f1f1f1;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

.txtb input,.txtb textarea{
  width: 100%;
  border: none;
  background: none;
  border-bottom: 1px solid #b2b8cc;
  margin-bottom: 7px;
  outline: none;
  color: #f1f1f1;
  font-size: 15px;
  margin-top: 6px;
  font-family:sans-serif;
}

form .submit{
  display: block;
  background: #2182BF;
  font-family: 'Montserrat', sans-serif;
  height: 30px;
  border: none;
  color: white;
  text-transform: uppercase;
}

form .submit:hover {
  background: #076bab;
  cursor: pointer;
}
